*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box; /*Para que las cajas no se desborden unas con otras.*/
}

body{
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Dancing Script', cursive;
    font-family: 'Lora', serif;*/
}

a{
    text-decoration: none; /*Sacamos estilos de las anclas de navegación*/
}

.padre{
    display: flex;
    flex-flow: column nowrap;
}

.header{
    background: url('../images/fons-capçalera.jpg');
    background-position: center; /* Que esté centrado */
    background-attachment: contain; /* Contenida dentro */
    background-size: auto;
    display: flex;
    flex-flow: column nowrap;
}
    .menu{
        /* background: rgba(0, 0, 0, .1); Poner transparencia*/
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: -50px;
        /*border-bottom: 1px solid rgb(26, 10, 10);Si quisiéramos un borde de línea inferior*/
    }
        .logo{
            flex: 1 1 auto;            
        }
            .logo a{
                color: #fff;                
            }            
            .logo a img{
                width: 150px;
                margin-left: -60px;
            }
        .nav{
            flex: 5 1 auto;            
            margin-left: -50px;                                   
        }
            .nav a{
                color: #3a3a50;
                padding: 0 10px;
                margin: -8px;
                letter-spacing: 2px; /*Separación de dos pixels entre letras*/                   
            }
            .nav a:hover{
                /*Efecto rollover*/
                color: #be4646;
            }        
        .social{            
            flex: 1 1 auto;
            /*display: flex; Si logos social a lo largo de eje principal*/
        }
            .social a{
                font-size: 18px;
                color: #3a3a50;
                padding: 0 5px;
            }
            .social a:hover{
                /*Efecto rollover*/
                color: #be4646;
            }
    .texto-principal{
        background: rgba(0, 0, 0, 0.075); /* Poner transparencia*/
        display: flex; 
        justify-content: center;
        align-items: center;       
    }
        h1{            
            font-family: 'Dancing Script', cursive;
            font-size: 40px;
            opacity: 0.5; /*Semitransparente*/
            color: #c22f2f;
            font-weight: 900;/*Ancho*/
            text-align: center;            
            line-height: 1.6;
        }         

.section{
    /*background: black;*/
    margin: 0px;
    padding: 0px;
    display: flex;
}
    .articulos{
        background: #ececec;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;        
    }
        .article{            
            color: #444;
            font-size: 13px;
            letter-spacing: 1px;
            margin: 10px 10px 0 0;
            flex: 1 1 45%;
            background: #f7f7f7;
            display: flex;
            flex-flow: column wrap;
            align-content: center;
        }
        .article img{
            width: 100%;
            padding: 0px;            
        }        
        h3{
           color: rgb(241, 240, 240);
           font-size: 13px;
           padding: 10px 0px 0px 10px;           
           margin-top: -80px;
           margin-bottom: -10px;    
        }
        h2{
           font-size: 25px;           
           text-transform: uppercase;           
           padding: 10px 0px 10px 10px;
           width: 100%;
           color: #fff;
           background: #F73f52;
        }
        .article a{
            color: #3a3a50;
            margin-top: -20px;                
        }
            .article a:hover{
                /*Efecto rollover*/
                color: #be4646;               
            }
        .navegacion{ /* Inacabado: no lo pide el ejercicio */
            background: #70a3c4;
            color: #3a3a50;
            margin-left: 0px;
            flex: 1 1 100%;
        }
            .navegacion a:hover{
                /*Efecto rollover*/
                color: #be4646;               
            }
            
    .aside{
        background: #F73f52;
        flex: 1 1 auto;
    }
        .publicidad{
            background: #ffea85;
        }

.footer{
    background: #000;
}
    .pie{
       background: #e6af2e; 
    }

@media all and (max-width: 800px){ 
    /*De 601 a 800 se aplicarán los siguientes estilos.*/
    .menu{
        height: auto;            
    }
    .logo a img{
        width: 100px;               
    }
    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;                            
    }    
    .nav a{
        font-size: 10px;
        margin-left: 5px;        
    }
    .social a{
        font-size: 12px;
    }
    .texto-principal{
        height: 60px;
    }
    h1 {
        font-size: 30px;
    } 
    .section{
        flex-direction: column;
        /*background: yellow;*/
        margin: 0px;
        padding: 0px;
    }        
    h2{
        font-size: 22px;
    }
    .navegacion{
        display: flex;
        flex-flow: row wrap;
    }
       
}

@media all and (max-width: 600px){
    /*De 0 a 600 se aplicarán los siguientes estilos.*/
    .menu{
        flex-flow: row wrap;                
    }
        .logo{              
            flex: 1 1 100%;
            display: flex;
            justify-content: center;
            margin: -40px 0px;            
        }
            .logo a img{                
                margin-left: auto;
                margin-right: auto;
            }            
        .nav{                
            flex: 1 1 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;           
        }
            .nav a{
                font-size: 10px;
            }
        .social{                
            flex: 1 1 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }
            .social a{
                font-size: 10px;                
            }
        .texto-principal{
            height: 85px;
        }
            h1{
                font-size: 20px;
            }
    .articulos{
        flex-direction: column nowrap;
    }
    .article{            
            margin: 10px 10px 0px 0px;
            flex: 1 1 100%;            
            display: flex;
            flex-flow: column wrap;
            align-content: center;
    }
    .article img{
            width: 100%;
            padding: 0px;            
    } 
}
